In [38]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [39]:
# use the `read_html` function in Pandas to automatically scrape any tabular data from a page.
url = 'https://galaxyfacts-mars.com/'

In [40]:
# tables
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [41]:
# put table 1 into a dataframe
comparison_df = tables[0]
comparison_df.columns = ['Mars-Earth Comparison', 'Mars', 'Earth']
comparison_df = comparison_df.iloc[1:]
comparison_df.set_index('Mars-Earth Comparison', inplace=True)
comparison_df

                                  Mars            Earth
Mars-Earth Comparison
Diameter:                     6,779 km        12,742 km
Mass:                  6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                               2                1
Distance from Sun:      227,943,824 km   149,598,262 km
Length of Year:         687 Earth days      365.24 days
Temperature:              -87 to -5 °C      -88 to 58°C

In [42]:
# put table 2 into a dataframe
mars_df = tables[1]
mars_df.columns = ['Mars Planet Profile', 'Stats']
mars_df.set_index('Mars Planet Profile', inplace=True)
mars_df

                                              Stats
Mars Planet Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [43]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# URL of page to be scraped
url = 'https://marshemispheres.com/'
browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/Pam/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

In [53]:
#for x in range (4):
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain book information
items = soup.find_all('div', class_='item')

for item in items:
    name = item.find('h3').text
    url = item.find('img', class_='wide_image')
    print(f"name: {name}, link: {url}")

    images = {
        'name': name,
        'url': url
    }
    
    append.hemisphere_images_urls()

name: Cerberus Hemisphere Enhanced, link: None
name: Schiaparelli Hemisphere Enhanced, link: None
name: Syrtis Major Hemisphere Enhanced, link: None
name: Valles Marineris Hemisphere Enhanced, link: None

In [ ]:
# to get the ful-size image for ceberus:
#  <div class="item">
#    <a href="cerberus.html ... ">  -- click on cerberus.html
#
#  <div class="downloads"
#     <img class="wide-image" src="images/f5e ... full.jpg">   -- this is the URL I need