In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

### NASA Mars News

In [14]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/Pam/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

In [15]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)

In [16]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [17]:
# Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.
# Retrieve all elements that contain title and teaser
results = soup.find_all('div', class_='list_text')

In [18]:
# loop through returned results and print required items
for result in results:
    news_title = result.find('div', class_='content_title').text
    news_teaser = result.find('div', class_='article_teaser_body').text

#print results
    print("----------")
    print(f"TITLE: {news_title}")
    print("")
    print(f"TEASER: {news_teaser}")

----------
TITLE: NASA Adds Return Sample Scientists to Mars 2020 Leadership Team

TEASER: The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.
----------
TITLE: Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate

TEASER: A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.
----------
TITLE: NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars

TEASER: In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch.
----------
TITLE: Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover

TEASER: NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.
----------
TITLE: NASA's Perseverance Rover Is Midway to Mars

TEASER: Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.
----------
TITLE: HiRISE Views NASA's InSight and Curiosity on Mars

TEASER: New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.
----------
TITLE: NASA's InSight 'Hears' Peculiar Sounds on Mars

TEASER: Listen to the marsquakes and other, less-expected sounds that the Mars lander has been detecting.
----------
TITLE: NASA Perseverance Mars Rover Scientists Train in the Nevada Desert

TEASER: Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year.
----------
TITLE: Three New Views of Mars' Moon Phobos

TEASER: Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow.
----------
TITLE: NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause

TEASER: Now that the lander's robotic arm has helped the mole get underground, it will resume science activities that have been on hold.
----------
TITLE: The Man Who Wanted to Fly on Mars

TEASER: The Mars Helicopter is riding to the Red Planet this summer with NASA's Perseverance rover. The helicopter's chief engineer, Bob Balaram, shares the saga of how it came into being.
----------
TITLE: New Selfie Shows Curiosity, the Mars Chemist

TEASER: The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.
----------
TITLE: Alabama High School Student Names NASA's Mars Helicopter

TEASER: Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.
----------
TITLE: Media Get a Close-Up of NASA's Mars 2020 Rover

TEASER: The clean room at NASA's Jet Propulsion Laboratory was open to the media to see NASA's next Mars explorer before it leaves for Florida in preparation for a summertime launch.
----------
TITLE: 5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover

TEASER: The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.

In [19]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [20]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/Pam/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

In [21]:
# URL of page to be scraped
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [22]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [23]:
results = soup.find_all('div', class_="floating_text_area")

for result in results:
    featured_image_url = result.a['href']
    print(f"featured_image_url = https://spaceimages-mars.com/{featured_image_url}")

featured_image_url = https://spaceimages-mars.com/image/featured/mars3.jpg

In [24]:
browser.quit()

### Mars Facts

In [22]:
# use the `read_html` function in Pandas to automatically scrape any tabular data from a page.
url = 'https://galaxyfacts-mars.com/'

In [23]:
# tables
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [27]:
comparison_df = pd.DataFrame(tables[0])
comparison_df.columns = ['Mars-Earth Comparison', 'Mars', 'Earth']
comparison_df = comparison_df.iloc[1:]
comparison_df.set_index('Mars-Earth Comparison', inplace=True)
comparison_df

                                  Mars            Earth
Mars-Earth Comparison
Diameter:                     6,779 km        12,742 km
Mass:                  6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                               2                1
Distance from Sun:      227,943,824 km   149,598,262 km
Length of Year:         687 Earth days      365.24 days
Temperature:              -87 to -5 °C      -88 to 58°C

In [30]:
comparison_html = comparison_df.to_html()
print(comparison_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Mars-Earth Comparison</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [31]:
# put table 2 into a dataframe
mars_df = tables[1]
mars_df.columns = ['Mars Planet Profile', 'Stats']
mars_df.set_index('Mars Planet Profile', inplace=True)
mars_df

                                              Stats
Mars Planet Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [32]:
mars_html = mars_df.to_html()
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Stats</th>
    </tr>
    <tr>
      <th>Mars Planet Profile</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [33]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# URL of page to be scraped
url = 'https://marshemispheres.com/'
browser.visit(url)

# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/Pam/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

In [ ]:
# create a list that will contain the four dictionaries
# for all four Mars hemispheres, find and save the hemisphere name and image URL 
# append the dictionary with the four name and URL pairs

In [ ]:
# hemisphere_image_urls = []

In [35]:
results = soup.find_all('div', class_="description")

for result in results:
    name = result.find('h3').text
    print(f"name: {name}")

name: Cerberus Hemisphere Enhanced
name: Schiaparelli Hemisphere Enhanced
name: Syrtis Major Hemisphere Enhanced
name: Valles Marineris Hemisphere Enhanced